/*archivo css*/
/*reseteo del codigo para unificar los espacios en todos los navegadores
para poner negrita font-weight: bold;*/
*{
    padding: 0; 
    margin: 0;
}

/*-----------------FUENTES-------------------*/

 

@font-face {
    font-family: "fuente1";
    src: url("../fuente/Dekko-Regular/Dekko-Regular.ttf")
}

@font-face {
    font-family: "fuente2";
    src: url("../fuente/Cairo_Play/CairoPlay-VariableFont_slnt\,wght.ttf")
}

/*-----------------------------------------*/

/*------------------CSS GRAL------------*/

body{
    background-color: #c5c7c5;
    font-family: "fuente1";
}

h3,h4{
    font-family: "fuente1";
     color:#111011be ;
     font-size: 1.3rem;
}
h5{
    font-family: "fuente1";
     color:#111011be ;
     font-size: 1rem;
     color: #1f27a5e5;
} 

h2{
    padding: 30px;
    font-family: "fuente1";
    font-size: 1.4rem; 
    text-align: center;
}

a {
    font-family: "fuente1";
    font-size:1.2rem;
    text-decoration:none;
    margin:5px;
    padding:5px;
    color: #dfdcdc;   
}


/*-----------------------------------------*/
/*------------------CSS HEADER------------*/

header{
    background-color:#4249a5e5;
}

.logo {
    width: 30%;
    margin: 10px;
    border-radius:30%;
}
/* Alinear el menú a la derecha */
nav {
    text-align: right;
}

.texto_h1 {
    text-align: center;
    font-family:"fuente2";
    font-size: 2.5em;
    white-space: nowrap;

}

.logo img {
    max-width: 80%; /* Ajustar según el tamaño real del logo */
    height: auto;
    vertical-align:middle;
}

.nav-item .nav-link {
    font-family: "fuente1";
    font-size:1rem;
    text-decoration:none;
    color: #dfdcdc;   
}


.nav-item .nav-link:hover{
    color:white;
}

/*-----------------------------------------*/
/*---------------CSS PAGE INICIO MAIN------*/
.index_contenedor{
    position:relative;
    width: 100%;
    padding-bottom: 30px;
}

.index_img{
    width: 100%;
    height: auto;
    object-fit:cover;
    display: block;
    margin:auto;
}

p {
    color:#161616;
    font-family:"fuente1";
    font-size: 1.2rem;
    font-style:oblique;
    display:inline-block;
    width: 500px;
    height: auto;
    position: absolute;
    top:60px;
    left: 10Px;
    text-align: left;
    overflow:auto;
   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 10px; /* Espacio entre elementos */
}

.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    width: 90%;
    height: auto;
    opacity: .5
}


.grid-item iframe:hover{
    opacity: 1;
    border:solid white 2px;
    border-radius: 10px;
}




/*-------------------CSS FOOTER------------*/
footer {
    background-color: #4249a5e5; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 35px; /* Espaciado interno */
    text-align: center; /* Centrar contenido */
    font-family: "fuente1";
}
.enlaces a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espaciado entre los enlaces */
    border-bottom: none;
}

.enlaces img {
    vertical-align:middle; /* Alinea verticalmente los iconos con el texto */
    width: 35px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: auto; /* Mantiene la proporción del icono */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.enlaces a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}


/*-----------------------------------------*/
/*---------------CSS PAGE SERVICIOS--------*/

.servicios_contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-gap: 40px; /* Espacio entre las imágenes */
}
.servicios_imagen{
    text-align: center;
}

.servicios_imagen img {
    width: 80%; 
    height: 55%; /* Para mantener la proporción */
    opacity: .5;
}
.servicios_imagen img:hover{
    opacity: 1;
    border:solid white 2px;
    border-radius: 10px;
}



/*-----------------------------------------*/
/*---------------CSS PAGE PRODUCTOS--------*/
.productos{
    text-align: center;
    width: 80%; 
    height: auto; /* Para mantener la proporción */
    opacity: .5;

}

.productos:hover {
    opacity: 1;
    border:solid white 2px;
    border-radius: 10px;
}


/*-----------------------------------------*/
/*---------------CSS PAGE NOSOTROS---------*/
.nosotros_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.nosotros_imagen_y_parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.nosotros_imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: auto;
}

.nosotros_parrafo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/*-----------------------------------------*/
/*-------------------CSS PAGE CONTACTO-----*/
.contenedor_contacto{
    display: flex; 
    align-items: flex-start; 
    justify-content:space-around; 
    margin-bottom: 20px;
}

.formulario{
    width: 100%; /* Ancho del formulario */
    padding: 30px;
    box-sizing:border-box; /* Incluir padding en el ancho especificado */
    border: 2px solid #ccc;
}

.mapa {
    width: 100%; /* Ancho del mapa */
    border: 1px solid #ccc;
    padding: 30px;
}


input[type=text],textarea{
    width: 80%;
    padding: 10px;
    margin: 8px 10px;
    box-sizing: border-box;
    border-radius: 10px
}


input[type=text]:focus {
        border-color:#333;
}

input[type=submit] {
        padding:10px 20px; 
        background:#4249a5e5; 
        color: white;
        border:1 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
}


/*------------------MEDIA QUERY------------*/
@media screen and (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    .contenedor_contacto {
        flex-direction: column; 
        align-items: center; 
    }
    .formulario, .mapa {
        width: 100%; 
        align-items: center;
    }
    .nosotros_imagen_y_parrafo {
        width: 95%;
    }
    .servicios_contenedor{
        grid-template-columns: 1fr 1fr;
        
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    }
}
 

@media screen and (max-width: 480px) {    
   .servicios_contenedor{
        grid-template-columns: repeat(1, 1fr);
   }
   .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Dos columnas de igual tamaño */
    }
}



/*-----------------------------------------*/



