@charset "UTF-8";
/*archivo css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------------FUENTES-------------------*/
@font-face {
  font-family: "fuente1";
  src: url("../fuente/Dekko-Regular/Dekko-Regular.ttf");
}
@font-face {
  font-family: "fuente2";
  src: url("../fuente/Cairo_Play/CairoPlay-VariableFont_slnt,wght.ttf");
}
/*----------------------------------*/
/*------------INDEX ----------------*/
body {
  background-color: #c5c7c5;
  font-family: "fuente1";
}

header {
  background-color: rgba(66, 73, 165, 0.8980392157);
}
header .logo {
  width: 30%;
  margin: 10px;
  border-radius: 30%;
}
header .logo img {
  max-width: 80%; /* Ajustar según el tamaño real del logo */
  height: auto;
  vertical-align: middle;
}
header .texto_h1 {
  text-align: center;
  font-family: "fuente2";
  font-size: 2.5em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  header .texto_h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .texto_h1 {
    font-size: 1.3rem;
  }
}
header #navbarNav .nav-item .nav-link {
  font-family: "fuente1";
  font-size: 1rem;
  text-decoration: none;
  color: #dfdcdc;
}
header #navbarNav .nav-item .nav-link:hover {
  color: white;
}
header #navbarNav .nav-item .nav-link a {
  font-family: "fuente1";
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #dfdcdc;
}

/*----------------------------------*/
/*---------------Main index---------*/
main .image-container {
  position: relative;
  width: 100%;
}
main .image-container .full-width-img {
  width: 100%;
  height: auto;
}
main .image-container .text-overlay {
  font-family: "fuente1";
  position: absolute;
  top: 48%;
  font-style: oblique;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #0e0d0d;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  border-radius: 5px;
  overflow: auto;
  width: 500px;
  line-height: 1.6;
  height: auto;
}
@media screen and (max-width: 768px) {
  main .image-container .text-overlay {
    position: static;
    transform: none;
    width: 100%;
    font-size: 0.9rem;
    left: 0;
    top: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: #c5c7c5;
  }
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 10px; /* Espacio entre elementos */
}
@media screen and (max-width: 768px) {
  main .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  main .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .grid-container .grid-item {
  padding: 20px;
  text-align: center;
  width: 90%;
  height: auto;
  opacity: 0.8;
  border-radius: 10px;
}
main .grid-container .grid-item:hover {
  opacity: 1.5;
  border: solid #8f8b8b 2px;
  border-radius: 10px;
}

/*----------------------------------*/
/*--------------FOOTER------------*/
footer {
  background-color: rgba(66, 73, 165, 0.8980392157);
  color: #fff;
  padding: 35px;
  text-align: center;
  font-family: "fuente1";
}
footer .enlaces a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: none;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .enlaces img {
  vertical-align: middle;
  width: 35px;
  height: auto;
  margin-right: 5px;
}

header {
  background-color: rgba(66, 73, 165, 0.8980392157);
}
header .logo {
  width: 30%;
  margin: 10px;
  border-radius: 30%;
}
header .logo img {
  max-width: 80%; /* Ajustar según el tamaño real del logo */
  height: auto;
  vertical-align: middle;
}
header .texto_h1 {
  text-align: center;
  font-family: "fuente2";
  font-size: 2.5em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  header .texto_h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .texto_h1 {
    font-size: 1.3rem;
  }
}
header #navbarNav .nav-item .nav-link {
  font-family: "fuente1";
  font-size: 1rem;
  text-decoration: none;
  color: #dfdcdc;
}
header #navbarNav .nav-item .nav-link:hover {
  color: white;
}
header #navbarNav .nav-item .nav-link a {
  font-family: "fuente1";
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #dfdcdc;
}

main h2 {
  padding: 30px;
  font-family: "fuente1";
  font-size: 1.4rem;
  text-align: center;
}
main .servicios_contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  grid-gap: 40px; /* Espacio entre las imágenes */
}
@media screen and (max-width: 768px) {
  main .servicios_contenedor {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  main .servicios_contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .servicios_contenedor .servicios_imagen {
  text-align: center;
}
main .servicios_contenedor .servicios_imagen img {
  width: 80%;
  height: 55%; /* Para mantener la proporción */
  opacity: 0.5;
}
main .servicios_contenedor .servicios_imagen img:hover {
  opacity: 1;
  border: solid white 2px;
  border-radius: 10px;
}
main .servicios_contenedor .servicios_imagen h3, main .servicios_contenedor .servicios_imagen h4, main .servicios_contenedor .servicios_imagen h5 {
  font-family: "fuente1";
  color: rgba(0, 0, 0, 0.7450980392);
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  main .servicios_contenedor .servicios_imagen h3, main .servicios_contenedor .servicios_imagen h4, main .servicios_contenedor .servicios_imagen h5 {
    width: 100%;
    font-size: 1rem;
    left: 0;
    top: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: #c5c7c5;
  }
}

footer {
  background-color: rgba(66, 73, 165, 0.8980392157);
  color: #fff;
  padding: 35px;
  text-align: center;
  font-family: "fuente1";
}
footer .enlaces a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: none;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .enlaces img {
  vertical-align: middle;
  width: 35px;
  height: auto;
  margin-right: 5px;
}

header {
  background-color: rgba(66, 73, 165, 0.8980392157);
}
header .logo {
  width: 30%;
  margin: 10px;
  border-radius: 30%;
}
header .logo img {
  max-width: 80%; /* Ajustar según el tamaño real del logo */
  height: auto;
  vertical-align: middle;
}
header .texto_h1 {
  text-align: center;
  font-family: "fuente2";
  font-size: 2.5em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  header .texto_h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .texto_h1 {
    font-size: 1.3rem;
  }
}
header #navbarNav .nav-item .nav-link {
  font-family: "fuente1";
  font-size: 1rem;
  text-decoration: none;
  color: #dfdcdc;
}
header #navbarNav .nav-item .nav-link:hover {
  color: white;
}
header #navbarNav .nav-item .nav-link a {
  font-family: "fuente1";
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #dfdcdc;
}

main h2 {
  padding: 30px;
  font-family: "fuente1";
  font-size: 1.4rem;
  text-align: center;
}
main .productos {
  text-align: center;
  width: 80%;
  height: auto; /* Para mantener la proporción */
  opacity: 0.5;
}
main .productos:hover {
  opacity: 1;
  border: solid white 2px;
  border-radius: 10px;
}
main h3 {
  font-family: "fuente1";
  color: rgba(0, 0, 0, 0.7450980392);
  font-size: 1.3rem;
}

footer {
  background-color: rgba(66, 73, 165, 0.8980392157);
  color: #fff;
  padding: 35px;
  text-align: center;
  font-family: "fuente1";
}
footer .enlaces a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: none;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .enlaces img {
  vertical-align: middle;
  width: 35px;
  height: auto;
  margin-right: 5px;
}

header {
  background-color: rgba(66, 73, 165, 0.8980392157);
}
header .logo {
  width: 30%;
  margin: 10px;
  border-radius: 30%;
}
header .logo img {
  max-width: 80%; /* Ajustar según el tamaño real del logo */
  height: auto;
  vertical-align: middle;
}
header .texto_h1 {
  text-align: center;
  font-family: "fuente2";
  font-size: 2.5em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  header .texto_h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .texto_h1 {
    font-size: 1.3rem;
  }
}
header #navbarNav .nav-item .nav-link {
  font-family: "fuente1";
  font-size: 1rem;
  text-decoration: none;
  color: #dfdcdc;
}
header #navbarNav .nav-item .nav-link:hover {
  color: white;
}
header #navbarNav .nav-item .nav-link a {
  font-family: "fuente1";
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #dfdcdc;
}

main .nosotros_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
main .nosotros_contenedor h2 {
  padding: 30px;
  font-family: "fuente1";
  font-size: 1.4rem;
  text-align: center;
}
main .nosotros_contenedor .nosotros_imagen_y_parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
@media screen and (max-width: 768px) {
  main .nosotros_contenedor .nosotros_imagen_y_parrafo {
    width: 95%;
  }
}
main .nosotros_contenedor .nosotros_imagen_y_parrafo .nosotros_imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}
main .nosotros_contenedor .nosotros_imagen_y_parrafo .nosotros_parrafo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: rgba(66, 73, 165, 0.8980392157);
  color: #fff;
  padding: 35px;
  text-align: center;
  font-family: "fuente1";
}
footer .enlaces a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: none;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .enlaces img {
  vertical-align: middle;
  width: 35px;
  height: auto;
  margin-right: 5px;
}

header {
  background-color: rgba(66, 73, 165, 0.8980392157);
}
header .logo {
  width: 30%;
  margin: 10px;
  border-radius: 30%;
}
header .logo img {
  max-width: 80%; /* Ajustar según el tamaño real del logo */
  height: auto;
  vertical-align: middle;
}
header .texto_h1 {
  text-align: center;
  font-family: "fuente2";
  font-size: 2.5em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  header .texto_h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header .texto_h1 {
    font-size: 1.3rem;
  }
}
header #navbarNav .nav-item .nav-link {
  font-family: "fuente1";
  font-size: 1rem;
  text-decoration: none;
  color: #dfdcdc;
}
header #navbarNav .nav-item .nav-link:hover {
  color: white;
}
header #navbarNav .nav-item .nav-link a {
  font-family: "fuente1";
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #dfdcdc;
}

main h2 {
  padding: 30px;
  font-family: "fuente1";
  font-size: 1.4rem;
  text-align: center;
}
main .contenedor_contacto {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  main .contenedor_contacto {
    flex-direction: column;
    align-items: center;
  }
}
main .contenedor_contacto .formulario {
  width: 100%; /* Ancho del formulario */
  padding: 30px;
  box-sizing: border-box; /* Incluir padding en el ancho especificado */
  border: 2px solid #ccc;
}
@media screen and (max-width: 768px) {
  main .contenedor_contacto .formulario {
    width: 100%;
    lign-items: center;
  }
}
main .contenedor_contacto .formulario input[type=text], main .contenedor_contacto .formulario textarea {
  width: 80%;
  padding: 10px;
  margin: 8px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
main .contenedor_contacto .formulario input[type=text]:focus, main .contenedor_contacto .formulario textarea:focus {
  border-color: #333;
}
main .contenedor_contacto .formulario input[type=submit] {
  padding: 10px 20px;
  background: rgba(66, 73, 165, 0.8980392157);
  color: white;
  border: 1 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
main .contenedor_contacto .mapa {
  width: 100%; /* Ancho del mapa */
  border: 1px solid #ccc;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  main .contenedor_contacto .mapa {
    width: 100%;
    lign-items: center;
  }
}

footer {
  background-color: rgba(66, 73, 165, 0.8980392157);
  color: #fff;
  padding: 35px;
  text-align: center;
  font-family: "fuente1";
}
footer .enlaces a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: none;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .enlaces img {
  vertical-align: middle;
  width: 35px;
  height: auto;
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
